
# Backup files
*.bak
~*
*~
*.backup

# LaTeX build products for HCAR
/hcar/*.aux
/hcar/*.log
/hcar/*.out
/hcar/*.pdf
/hcar/*.synctex.gz

# Temporary files
*.o
*.tmp
*.log
*.kate-swp

# Build products
*.hi
*.o
*.dyn_hi
*.dyn_o
/dist/

# Cabal Sandbox
/.cabal-sandbox
/cabal.sandbox.config
